<section class="new-training" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card class="card" fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title class="title">
        Time to start a workout!
      </mat-card-title>

      <mat-card-content>
        <mat-form-field *ngIf="!(isLoading$ | async) && exercises$ | async" appearance="fill">
          <mat-label>Select Training</mat-label>
          <mat-select ngModel name="exercise" required>
            <mat-option *ngFor="let exercise of exercises$ | async" [value]="exercise.id">
              {{ exercise.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div *ngIf="isLoading$ | async" fxLayoutAlign="center">
          <mat-spinner></mat-spinner>
        </div>
      </mat-card-content>

      <mat-card-actions *ngIf="!(isLoading$ | async)">
        <button *ngIf="exercises$ | async" mat-raised-button type="submit" color="primary" [disabled]="f.invalid">
          Start
        </button>
        <button *ngIf="!(exercises$ | async)" mat-raised-button type="button" color="primary" (click)="onFetchExercises()">
          Fetch again
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>